.active {
    text-decoration: underline;
    background-image: linear-gradient(to right, #facc15, #f97316);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}
